/*Colours*/
$primaryColor: #003c3e;
$secundaryColor: #215854;
$menuColor: #dac0b1;
$baseColor3: #e561a8;
$textColor: #cbac96;

/*Header variables*/
$toolbarHeight: 100px;
$pageTitleHeight: 60px;
$pageTitleFontSize: 40px;
$logoWidth: 100px;
$logoHeight: 100px;
