/*Colours*/
$primaryColor: #003c3e;
$secundaryColor: #215854;
$baseColor3: #e561a8;
$textColor: #cbac96;

/*Header variables*/
$toolbarHeight: 100px;
$pageTitleHeight: 50px;
$pageTitleFontSize: 29px;
$logoWidth: 100px;
$logoHeight: 100px;
