@import "_mixins.scss";
@import "_base.scss";

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $toolbarHeight;
  background-color: $primaryColor;
}
input {
  width: 25%;
  height: 40%;
  margin-left: 20px;
  border-radius: 20px;
  text-align: center;
  font-family: "Orelega One", cursive;
  font-size: 20px;
  color: $textColor;
  border: 1px solid $primaryColor;
  &:focus {
    outline: none;
    border: 1px solid $textColor;
    &::placeholder {
      color: transparent;
    }
  }
}
.logo {
  width: $logoWidth;
  height: $logoHeight;
  background-image: url(/images/logo.png);
  background-size: cover;
}
.page-title {
  color: #fff;
  background-color: $secundaryColor;
  font-size: $pageTitleFontSize;
  height: $pageTitleHeight;
  @include centerTextInBox;
}
.page-container {
  display: flex;

  nav {
    width: 40%;
    background-color: $menuColor;

    .menu-container {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
    .menu-title {
      text-align: center;
      font-size: 30px;
      color: $primaryColor;
      margin: 15px 2px;
    }
    ul {
      padding: 0px;

      li {
        list-style: none;
        background-color: $secundaryColor;
        color: #fff;
        font-size: 20px;
        height: 40px;
        @include centerTextInMenu;

        &.active {
          background-color: $hoverMenuColor;
          color: $primaryColor;
        }

        &:hover {
          background-color: #fff;
          color: $secundaryColor;
          cursor: pointer;
        }
      }
    }
  }
  main {
    .list {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 20px;
    }

    .card {
      width: 300px;
      height: 500px;
      margin: 20px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

      img {
        max-width: 100%;
        &:hover {
          transform: translatey(-5px) translatex(-5px) scale(1.15);
        }
      }

      .burger-name {
        color: $primaryColor;
        font-size: 30px;
        margin-top: 10px;
        @include centerTextInBox;
      }
      .border {
        border: $primaryColor 2px solid;
        position: relative;
        margin: 10px auto;
        width: 64px;
      }

      p {
        height: 70px;
        display: flex;
        align-items: center;
        margin: 10px;
      }
      .cart {
        display: flex;
        height: 50px;
        background: $primaryColor;
        color: #fff;
        @include centerTextInBox;

        &:hover {
          cursor: pointer;
          background: $menuColor;
        }

        i {
          color: #fff;
          margin-right: 10px;
        }
      }
    }
  }
}
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: $primaryColor;
  color: #fff;

  .created-by {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .social-media {
    display: flex;
    align-items: center;
    margin-right: 20px;
    i {
      margin: 0 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    flex-direction: column;

    nav {
      display: flex;
      width: 100vw;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
    .menu-title {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-around;
      width: 100vw;
      font-size: 10px;
    }
    i {
      display: none;
    }
  }
  input {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .page-container {
    flex-direction: column;

    nav {
      display: flex;
      width: 100vw;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
    .menu-title {
      display: none;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
    }
    li {
      justify-content: center;
      font-size: 25px;
      width: 50vw;
    }
    i {
      display: block;
    }
  }
  input {
    width: 67%;
    font-size: 18px;
  }
  .page-title {
    font-size: 29px;
  }
  footer {
    justify-content: center;
    .created-by {
      display: none;
    }
    .social-media {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 420px) {
  footer {
    .social-media {
      justify-content: center;
      margin-left: 20px;
    }
  }
}
